<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="local library" src="{{ "/assets/img/express-library.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5> Local Library website written in Express (Node) </h5>
      <ul>
        <li> Featured Skills - Pug, MongoDB, Express and Node</li>
      </ul>
      <p>The purpose of the website is to provide an online catalog for a small local library, where users can browse available books and manage their accounts.
        It store's information about books, copies of books, authors and other key information. It doesn't however store information about other items a library might lend, or provide the infrastructure needed to support multiple library sites or other "big library" features.</p>
      <a class="project-link" href="https://mylocallibrary.herokuapp.com/catalog">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="image search" src="{{ "/assets/img/image-search.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Image Search Abstraction Layer </h5>
      <ul>
        <li> Featured Skills - Pug, Google API, MongoDB, Express and Node</li>
      </ul>
      <p>I can get the image URLs, thumbnail URLs, alt text and page URLs for a set of images relating to a given search string(obama in this instance). I can paginate through the responses by adding a ?offset=n(where n is a number) parameter to the URL</p>
      <a class="project-link" href="https://wheat-language.glitch.me/api/imagesearch/obama">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="recent searches" src="{{ "/assets/img/recent-search.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns contents">
      <h5> Image Search Abstraction Layer(Browse Recent Search Queries) </h5>
      <ul>
        <li> Featured Skills - Pug, Google API, MongoDB, Express and Node</li>
      </ul>
      <p>Part of the Image Search Abstraction Layer project. Get's a list of the most recently submitted image search strings. Displays a maximum of 10 recent searches chronologically</p>
      <a class="project-link" href="https://wheat-language.glitch.me/api/latest/imagesearch">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="tasklist" src="{{ "/assets/img/tasklist.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
        <h5> Task List Manager </h5>
        <ul>
          <li> Featured Skills - MongoDB, Express, Angular, Nodejs</li>
        </ul>
        <p>You can enter a particular task, delete a task and update a task, and all these operations will reflect in a database.</p>
        <a class="project-link" href="https://metasklist.herokuapp.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
      <div class="six columns images">
        <img alt="resume" src="{{ "/assets/img/resume.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns contents">
          <h5> Resume </h5>
          <ul>
            <li> Featured Skills - Jekyll, Github</li>
          </ul>
          <p>My online resume</p>
          <a class="project-link" href="http://evan.softgorithm.com/resume">Check it out</a>
      </div>
  </div>
</div>
